<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion bubble</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="d-flex justify-content-between align-items-center p-3 bg-light">
        <h1>Journal
            <span class="h6 font-weight-light">
                de <%= user.name %>
            </span>
            <% if (user.admin) { %>
            <img src="/icons/badge-check.svg" alt="Administrateur" class="img-fluid me-2" style="width: 20px;">
            <% } %>
        </h1>
        <nav>
            <ul class="list-unstyled d-flex mb-0">
                <li class="ml-3 dropdown">
                    <a href="#" id="burgerMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle d-flex align-items-center text-decoration-none text-dark">
                        <img src="/icons/report-columns.svg" alt="Bouton direction menu" class="img-fluid" style="width: 30px;">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="burgerMenu">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/dashboard">
                                <img src="/icons/journal.svg" alt="Historique" class="img-fluid me-2" style="width: 20px;">
                                Mon journal
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/historique">
                                <img src="/icons/media-image-list.svg" alt="Historique" class="img-fluid me-2" style="width: 20px;">
                                Historique
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/statistiques">
                                <img src="/icons/stats-up-square.svg" alt="Statistiques" class="img-fluid me-2" style="width: 20px;">
                                Statistiques
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profil">
                                <img src="/icons/profile-circle.svg" alt="Profil" class="img-fluid me-2" style="width: 20px;">
                                Profil & Amis
                            </a>
                        </li>
                        <% if (user.admin) { %>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/admin">
                                    <img src="/icons/badge-check.svg" alt="Administration" class="img-fluid me-2" style="width: 20px;">
                                    Administration
                                </a>
                            </li>
                        <% } %>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <img src="/icons/log-out.svg" alt="Administration" class="img-fluid me-2" style="width: 20px;">
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container mt-4">
        <!-- Enregistrement du jour -->
        <% if (!today.mood) { %>
        <div class="card mb-4">
            <div class="card-body text-center" style="background: linear-gradient(270deg, rgb(255, 223, 186) 0%, rgb(186, 255, 201) 100%);">
                <h1 class="card-title">Aujourd'hui</h1>
                <img src="/static/assets/memo_3d.png" alt="" class="img-fluid mb-3" style="width: 42px;">
                <a href="/new?date=<%= todaysDate %>" class="btn btn-outline-dark">Ajouter un enregistrement</a>
            </div>
        </div>
        <% } else { %>
        <div class="card mb-4">
            <a href="/consulter?date=<%= today.date %>" class="text-decoration-none text-dark">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(270deg, rgb(255, 223, 186) 0%, rgb(186, 255, 201) 100%);">
                    <div>
                        <img src="/faces/<%= today.mood %>.png" alt="Image ressenti de l'enregistrement" class="img-fluid rounded mr-2" style="width: 42px;">
                        <img src="/weather/<%= today.weather %>.png" alt="Image météo de l'enregistrement" class="img-fluid rounded" style="width: 42px;">
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="mb-0 me-2"><%= today.date %></p>
                        <% if (today.visibility) { %>
                            <img src="/icons/eye.svg" alt="Oeil" class="img-fluid me-2" style="width: 20px;">
                        <% } else { %>
                            <img src="/icons/eye-closed.svg" alt="Oeil fermé" class="img-fluid me-2" style="width: 20px;">
                        <% } %>
                    </div>
                </div>
                <% if (today.title || today.content) { %>
                <div class="card-body">
                    <h2 class="card-title"><%= today.title %></h2>
                    <pre class="card-text"><%= today.content %></pre>
                </div>
                <% } %>
            </a>
        </div>
        <% } %>

        <!-- Liste des enregistrements -->
        <div class="list-group mb-5">
            <% jours.forEach(jour => { %>
            <% if (!jour.mood) { %>
            <a href="/consulter?date=<%= jour.date %>" class="list-group-item d-flex align-items-center bg-light text-muted">
                <img src="/icons/memo_3d.png" alt="" class="img-fluid mr-3" style="width: 30px;">
                <p class="mb-0">Pas d'enregistrement pour le <%= jour.date %></p>
            </a>
            <% } else { %>
            <a href="/consulter?date=<%= jour.date %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div>
                    <img src="/faces/<%= jour.mood %>.png" alt="Image ressenti de l'enregistrement" class="img-fluid rounded mr-2" style="width: 42px;">
                    <img src="/weather/<%= jour.weather %>.png" alt="Image météo de l'enregistrement" class="img-fluid rounded" style="width: 42px;">
                    <% if (jour.title || jour.content) { %>
                    <div>
                        <h2 class="h5 mb-1"><%= jour.title %></h2>
                        <pre class="mb-0"><%= jour.content %></pre>
                    </div>
                    <% } %>
                </div>
                <div class="d-flex align-items-center">
                    <p class="mb-0 me-2"><%= jour.date %></p>
                    <% if (jour.visibility) { %>
                        <img src="/icons/eye.svg" alt="Oeil" class="img-fluid me-2" style="width: 20px;">
                    <% } else { %>
                        <img src="/icons/eye-closed.svg" alt="Oeil fermé" class="img-fluid me-2" style="width: 20px;">
                    <% } %>
                </div>
            </a>
            <% } %>
            <% }); %>
        </div>
    </main>

    <a href="/new" class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center position-fixed" style="bottom: 20px; right: 20px; width: 60px; height: 60px; z-index: 1000;">
        <img src="/icons/plus-circle.svg" alt="Ajout d'un enregistrement" class="img-fluid" style="width: 30px;">
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>